

body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;

}
footer {
    color: black;
    font-family: "Nunuto", sans-serif;
    color: rgb(100, 150, 133
    )
}
.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;

}
.emailform {
    font-family: "Nunito", sans-serif;
    color:rgb(100, 150, 133);
}

form {
    font-family: "Nunito";
    font-size:  0.75rem;
    font-weight: 100;
    color:rgb(100, 150, 133);
}

a { 
    color:rgb(100, 150, 133);
    font-size: 2rem;
}
.btn {
    font-size: 1rem;
    font-family: "Nunito";
    color: #f498b8;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

/* #mainNavbar .nav-link:hover {
    color:#EA1C2C;
    transition: color 1s ease-in-out, width 2s, ease-in-out 1s; */

/* } */
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
    font-size: 2rem;
}

#mainNavbar .nav-link:hover{
    color:#EA1C2C;
    transition: color 1s ease-in-out, width 2s, ease-in-out 1s;
    
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    

}
#mainNavbar .navbar-brand:hover{
    color: black;
    transform: rotateY(360deg);
    transition: ease-in-out 3.25s;

}
#headingGroup h1{
    font-weight: 100;
    font-size: 2rem;
    transition: margin-left 2s, color 1s ease-in-out, width 2s ease-in-out 1s;
  
}
#headingGroup :hover {
    color: rgb(0, 0, 0);
    margin-left:100px;
    
}
#headingGroup span {
    color:#EA1C2C;
    transition: color 1s ease-in-out, width 1s ease-in-out 1s;
}
#headingGroup :hover span { 
    color: rgb(255, 255, 255);
}
.navbar.scrolled {
    background: rgb(100, 150, 133);
    transition: background 500ms;
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }

}