body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;

}


.emailform {
    font-family: "Nunito", sans-serif;
    color:rgb(100, 150, 133);
}

form {
    font-family: "Nunito";
    font-size:  0.75rem;
    font-weight: 100;
    color:rgb(100, 150, 133);
}

a{
    color:rgb(100, 150, 133);
    font-size: 2rem;
}
.btn {
    font-size: 1rem;
    font-family: "Nunito";
    color: #f498b8;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;

}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover{
    color:#EA1C2C;
}
#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color:#EA1C2C
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 2rem;
}

.navbar.scrolled {
    background: rgb(100, 150, 133);
    transition: background 500ms;
}
@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 2rem;
    }
}



